@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--amethyst-purple-light);
  transition: 0.4s;
  padding: 0px 1px;
}
.purple {
  color: var(--amethyst-purple);
  padding: 3px;
}

h1 {
  font-family: 'Exo 2', sans-serif;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(282, 100%, 50%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 2rem;
  }
}
